certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
idna==3.7
joblib==1.4.2
nltk==3.8.1
numpy==1.24.2
praw==7.7.1
prawcore==2.4.0
psutil==5.9.8
py4j==0.10.9.7
pyspark==3.5.1
python-dotenv==1.0.1
regex==2024.5.15
requests==2.32.3
tqdm==4.66.4
update-checker==0.18.0
urllib3==2.2.1
websocket-client==1.8.0
